@CHARSET "ISO-8859-1";

table.gridGrey100 { border-collapse: collapse; }

td.gridData {
	font-size: 1em;
}

td.gridHeader {
	font-size: 1.1em;
}

img.gridGrey100 {
	border: 0px;
}

em.gridGrey100 {
	font-size: 1em;
}

/* Even and Odd Rows */
tr.gridGrey100RowEven { background: #eeeeee; }
tr.gridGrey100RowOdd { background: #ffffff; }

tr.gridGrey100RowEven:hover { background: #f5f5e0; }
tr.gridGrey100RowOdd:hover { background: #fffff0; }


/* Row Sorted Colors */
tr.gridGrey100RowSort0 { background: #dfdfdf; }
tr.gridGrey100RowSort1 { background: #efefef; }
tr.gridGrey100RowSort2 { background: #ffffff; }
tr.gridGrey100RowSort3 { background: #dfdfdf; }
tr.gridGrey100RowSort4 { background: #efefef; }
tr.gridGrey100RowSort5 { background: #ffffff; }
tr.gridGrey100RowSort6 { background: #dfdfdf; }
tr.gridGrey100RowSort7 { background: #efefef; }
tr.gridGrey100RowSort8 { background: #ffffff; }
tr.gridGrey100RowSortChange { border-top: 1px dashed #aaaaaa; }

tr.gridGrey100RowSort0:hover,
tr.gridGrey100RowSort1:hover,
tr.gridGrey100RowSort2:hover,
tr.gridGrey100RowSort3:hover,
tr.gridGrey100RowSort4:hover,
tr.gridGrey100RowSort5:hover,
tr.gridGrey100RowSort6:hover,
tr.gridGrey100RowSort7:hover,
tr.gridGrey100RowSort8:hover { background: #f3ffe5; }



/* Data Cell Border Top */
td.gridGrey100DBT {
	border-top: 1px solid #999999;
}
/* Data Cell Border Bottom */
td.gridGrey100DBB {
	border-bottom: 1px solid #999999;
}
/* Data Cell Border Right */
td.gridGrey100DBR {
	border-right: 1px solid #999999;
}
/* Data Cell Border Left */
td.gridGrey100DBL {
	border-left: 1px solid #999999;
}

/* Header Border Top */
td.gridGrey100HBT {
	border-top: 1px solid #999999;
}
/* Header Border Bottom */
td.gridGrey100HBB {
	border-bottom: 1px solid #999999;
}
/* Header Border Right */
td.gridGrey100HBR {
	border-right: 1px solid #999999;
}
/* Header Border Left */
td.gridGrey100HBL {
	border-left: 1px solid #999999;
}

div.gridGrey100FinePrint {
	color: #555555;
	font-size: .9em;
	padding: 5px;
}

td.gridGrey100Header {
	background: #cccccc;
	font-weight: bold;
	border: 1px solid #999999;
	padding:2px;
}

td.gridGrey100Utilities {
	background: #eeeeee;
	font-size: 1.1em;
	padding: 5px;
	border: 1px solid #999999;
}

td.gridGrey100Trailer {
	color: #555555;
	font-size: 1.1em;
	padding: 5px;
}

table.gridGrey100 a {
	text-decoration: none;
	color: #333333;
	outline: none; /* hide dotted outline in Firefox */
}

table.gridGrey100 a:hover {
	text-decoration: underline;
	color: #333333;
}

.gridGrey100 input{
	border: 1px solid #999999;
	background: #fefefe;
	padding: 2px;
}
input.gridGrey100Button {
	background: #fefefe;
	padding: 1px;
}

#gridGrey100Pages, #gridGrey100ResultsPerPage, #gridGrey100ResultsPerPageList, #gridGrey100ResultsPerPageLink {
	padding-top: 5px;
	padding-bottom: 5px;
}

#gridGrey100Pages a, #gridGrey100ResultsPerPage a {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	padding-right:4px;
	margin: 1px;
	border: 1px solid #aaaaaa;
	color: #888888;
	background: #eeeeee;
	text-decoration: none;
	width: auto;
	outline: none; /* hide dotted outline in Firefox */
}
#gridGrey100Pages a:hover, #gridGrey100ResultsPerPage a:hover {
	border: 1px solid #555555;
	color: #333333;
}

#gridGrey100ResultsPerPage a {
	font-size: 1.1em;
	outline: none; /* hide dotted outline in Firefox */
}
 
a#gridGrey100CurrentPage, a#gridGrey100CurrentRowPerPage {
	border: 1px solid #555555;
	color: #333333;
	background: #ffffff;
}
a:hover#gridGrey100CurrentPage, a:hover#gridGrey100CurrentRowPerPage {
	border: 1px solid #333333;
	color: #000000;
	background: #eeeeee;
}

#gridGrey100FilteredMessage a {
	color: #003DF5;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration:underline;
	outline: none; /* hide dotted outline in Firefox */
}
#gridGrey100FilteredMessage a:hover {
	color: #002EB8;
}






#gridGrey100FilterNav {
	margin:0px;
	padding:0px;
	list-style:none;
}

#gridGrey100FilterNav li {
	float:left;
	margin:0;
	padding:0;
}

#gridGrey100FilterNav a {
	display:block;
	color:#444;
	text-decoration:none;
	font-size: 1em;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
}

#gridGrey100FilterNav a:hover, #gridGrey100FilterNav a:active, #gridGrey100FilterNav a.here:link, #gridGrey100FilterNav a.here:visited {
	background:#bbb;
}

#gridGrey100FilterNav a.hot:link, #gridGrey100FilterNav a.hot:visited {
	background:#f5dddd;
}

#gridGrey100FilterNav a.hot:hover, #gridGrey100FilterNav a.hothere:link, #gridGrey100FilterNav a.hothere:visited {
	background:#ff8888;
}
#gridGrey100FilterNav a.hothere:hover {
	background:#ff5555;
}

#gridGrey100FilterNav A.here:link,
#gridGrey100FilterNav A.here:visited {
	position:relative;
}
