#jqalert-dialog-overlay {
 
    /* set it to fill the whil screen */
    width:100%; 
    height:100%;
     
    /* transparency for different browsers */
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.5; 
    background:#000; 
 
    /* make sure it appear behind the dialog box but above everything else */
    position:absolute; 
    top:0; left:0; 
    z-index:3000; 
 
    /* hide it by default */
    display:none;
}
 
 
#jqalert-dialog-box {
     
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     
    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    background:#eee;
    width:350px; 
     
    /* make sure it has the highest z-index */
    position:absolute; 
    z-index:5000; 
 
    /* hide it by default */
    display:none;
}

#jqalert-dialog-box-content {
    /* style the content */
    text-align:left; 
    padding:10px; 
    margin:13px;
    color:#666; 
    font-family:arial;
    font-size:14px; 
}

#jqalert-dialog-box-message.info {
	color: #666 !important;
	border:none !important;
}

#jqalert-dialog-box-message.warning {
	background: url(images/warning.png) no-repeat 0px 0px;
	padding: 0px 0px 0px 55px;
}

#jqalert-dialog-box-message.error{
	background: url(images/error.png) no-repeat 0px 0px;
	padding: 0px 0px 0px 55px;
}

#jqalert-dialog-box-message.help{
	background: url(images/help.png) no-repeat 0px 0px;
	padding: 0px 0px 0px 55px;
}

#jqalert-dialog-box-message.info{
	background: url(images/info.png) no-repeat 0px 0px;
	padding: 0px 0px 0px 55px;
}

#jqalert-dialog-box-message a.button {
    /* css3 implementation */
    /* rounded corner */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    /* drop shadow */
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
     
    /* text shaow */
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;

    margin:20px auto 2px auto;
}
#jqalert-dialog-box-message a.close {
    /* styles for button */
	font-size: 14px;
    text-align:center;
    display: block;
    width:40px;
    padding: 3px 10px 3px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 18px;
    background: url(images/close.gif) no-repeat 4px 3px #852905;
}
 
#jqalert-dialog-box-message a.yes {
    /* styles for button */
	font-size: 14px;
    text-align:center;
    display: block;
    width:40px;
    padding: 3px 10px 3px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 18px;
    background: url(images/check.gif) no-repeat 4px 3px #218505;
	margin:20px 4px 2px 4px;
}
 
#jqalert-dialog-box-message a.no {
    /* styles for button */
	font-size: 14px;
    text-align:center;
    display: block;
    width:40px;
    padding: 3px 10px 3px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 18px;
    background: url(images/close.gif) no-repeat 4px 3px #852905;
	margin:20px 4px 2px 4px;
}
 
#jqalert-dialog-box-message a.close:hover {
    background-color: #B63807;  
}
 
#jqalert-dialog-box-message a.yes:hover {
    background-color: #2DB607;  
}
 
#jqalert-dialog-box-message a.no:hover {
    background-color: #B63807;  
}
 
/* extra styling */

#jqalert-dialog-box-message h2 {
	font-size: 16px;
	font-weight: bold;
	padding: 0px 0px 5px 0px;
	margin: 0px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

#jqalert-dialog-box-message  p {
    font-weight:700; margin:0;
}
 
#jqalert-dialog-box-message ul {
    margin:10px 0 10px 20px; 
    padding:0; 
    height:50px;
}